.form-group {
  position: relative;
}

.label-control {
  font-size: .875rem;
  font-weight: 400;
  color: #a7a7aa;
  margin-bottom: 5px;
  padding-left: 6px;
  box-sizing: border-box;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375em .75em;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: .25rem;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.form-control:focus {
  border-color: #00b8ff;
}

.form-disabled,
.form-control.form-disabled,
.form-control:disabled {
  background-color: #dddddd;
}

.form-error,
.form-control.form-error {
  border-color: #ff9999;
}

.form-text {
  display: block;
}

.tooltip-control {
  display: inline-block;
  margin-left: .5rem;
}
