.sans-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eeeeee;
}

.sans-login-container {
  width: 100%;
  max-width: 32.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}

.sans-login-container h1 strong {
  margin-top: 0;
  /* margin-bottom: 2rem; */
  font-size: 1.875rem;
  color: #242424;
  font-weight: 700;
  line-height: 1.5rem;
}

.sans-login-container small {
  font-size: 0.875rem;
}
