/* .container {
  margin-left: auto;
  margin-right: auto;
  // max-width: 99rem;
} */

.min-vh-100 {
  min-height: 100vh !important;
}

.sans-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  background-color: #ffffff;
}

.card-header-title {
  margin-bottom: 0.25rem;
  font-size: 120%;
  font-weight: 600;
}

.card-header-subtitle {
  font-size: 87.5%;
  font-weight: 300;
  color: #999999;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-body-value-change {
  display: inline;
  font-size: 100%;
  vertical-align: bottom;
}

.card-body-value-now {
  display: inline;
  font-size: 250%;
  font-weight: 700;
  vertical-align: bottom;
}

.code {
  font-family: Courier, monospace;
  color: #333;
  background: rgb(250, 250, 250);
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: 1px solid #eee;
  border-left-width: 0;
  border-right-width: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
