.dashboard .sans-sidebar {
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  order: -1;
  width: 260px;
  padding: 0;
  color: #fff;
  background: #43425D;
  transition: margin-left .25s,
    margin-right .25s,
    width .25s,
    z-index 0s ease .25s;
}

.dashboard .sans-sidebar.sans-sidebar-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1030;
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, .14),
    0 3px 1px -2px rgba(60, 75, 100, .12),
    0 1px 5px 0 rgba(60, 75, 100, .2);
}

.dashboard .sans-sidebar .sans-sidebar-brand {
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.dashboard .sans-sidebar .sans-sidebar-brand .sans-sidebar-nav-link:hover {
  background-color: transparent;
}

.dashboard .sans-sidebar-nav {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
}

.dashboard .sans-sidebar-nav-title {
  padding: .75rem 1rem;
  margin-top: 1rem;
  font-size: 80%;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: .25s;
  transition: .25s;
  color: rgba(255, 255, 255, .6);
}

.dashboard .sans-sidebar-nav-item {
  width: inherit;
}

.dashboard .sans-sidebar-nav-link {
  display: flex;
  flex: 1;
  align-items: center;
  padding: .85rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  transition: background .25s, color .25s;
  color: rgba(255, 255, 255, .8);
  background: 0 0;
}

.dashboard .sans-sidebar-nav-link:hover {
  color: #ffffff;
  background: #321fdb;
}

.dashboard .sans-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.dashboard .sans-header .sans-container {
  display: flex;
}

.dashboard .sans-header.sans-header-fixed {
  position: fixed;
  right: 0;
  left: 0;
  margin: inherit;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, .2);
  clip-path: inset(0 0 -1000px 0);
  z-index: 1030;
}

.dashboard .sans-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dashboard .sans-header .sans-header-nav-button {
  text-decoration: none;
  white-space: nowrap;
  transition: all .25s;
  box-shadow: none;
  color: #333333;
}

.dashboard .sans-header-nav-item {
  position: relative;
}

.dashboard .sans-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard .sans-sidebar.sans-sidebar-fixed~.sans-wrapper {
  margin-left: 260px;
}

.dashboard .sans-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.dashboard .sans-header-fixed~.sans-body {
  padding-top: 60px;
}

.dashboard .sans-main {
  flex: 1;
  min-width: 0;
  padding-top: 2rem;
  background-color: #eeeeee;
}

.dashboard .sans-main>.sans-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dashboard .sans-content-header {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-bottom: 1rem;
  font-size: 200%;
  font-weight: 700;
  color: #333;
}
