/*!
 * Sans Style v0.1.8
 * www.github.com/che5ya/sans-style
 * Copyright 2019 Github@CHE5YA
 * Licensed under MIT (www.github.com/che5ya/sans-style/LICENSE)
 */

/* Core CSS Custom Properties
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit
}

textarea {
  resize: vertical
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}

button,
[type=button],
[type=reset],
[type=submit] [role=button] {
  cursor: pointer;
  -webkit-appearance: button;
}

[data-srcset],
[data-src] {
  opacity: 0;
  min-width: 1px;
  min-height: 1px
}

table {
  border-collapse: collapse
}

a {
  text-decoration: none;
}

p,
img,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea,
[type='text'],
[type='email'],
[type='password'],
[type='search'],
[type='tel'],
[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: none
}

/* mark Tag for IE8,9 */
mark {
  display: inline-block;
  background: #ff0;
  color: #000;
}

/* Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden;
}

/* Common Settings */
html,
html body {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.out-of-screen {
  position: absolute;
  width: 1px;
  height: 1px;
  line-height: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  text-indent: -9999px;
}

.m-1 {
  margin: .25rem !important;
}

.m-2 {
  margin: .5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-1 {
  margin-top: .25rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-1 {
  margin-left: .25rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mr-1 {
  margin-right: .25rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.p-1 {
  padding: .25rem !important;
}

.p-2 {
  padding: .5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-1 {
  padding-top: .25rem !important;
}

.pt-2 {
  padding-top: .5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pb-1 {
  padding-bottom: .25rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-1 {
  padding-left: .25rem !important;
}

.pl-2 {
  padding-left: .5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pr-1 {
  padding-right: .25rem !important;
}

.pr-2 {
  padding-right: .5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-cite {
  font-size: 87.5%;
}

.text-small {
  font-size: 75%;
}

.text-primary {
  color: #321fdb;
}

.text-success {
  color: #2eb85c;
}

.text-warning {
  color: #f9b115;
}

.text-danger {
  color: #e55353;
}

.text-impact {
  color: #636f83;
}

.text-secondary {
  color: #ced2d8;
}

.text-info {
  color: #3399ff;
}
