.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin: 0 .5rem;
}

.col:first-child:not(.col-12) {
  margin-left: 0;
}

.col:last-child:not(.col-12) {
  margin-right: 0;
}

.col-1 {
  flex: 0 0 calc(8.3334% - 1rem);
  max-width: calc(8.3334% - 1rem);
}

.col-1:first-child,
.col-1:first-child {
  flex: 0 0 calc(8.3334% - .5rem);
  max-width: calc(8.3334% - .5rem);
}

.col-2 {
  flex: 0 0 calc(16.6667% - 1rem);
  max-width: calc(16.6667% - 1rem);
}

.col-2:first-child,
.col-2:last-child {
  flex: 0 0 calc(16.6667% - .5rem);
  max-width: calc(16.6667% - .5rem);
}

.col-3 {
  flex: 0 0 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
}

.col-3:first-child,
.col-3:last-child {
  flex: 0 0 calc(25% - .5rem);
  max-width: calc(25% - .5rem);
}

.col-4 {
  flex: 0 0 calc(33.3333% - 1rem);
  max-width: calc(33.3333% - 1rem);
}

.col-4:first-child,
.col-4:last-child {
  flex: 0 0 calc(33.3333% - .5rem);
  max-width: calc(33.3333% - .5rem);
}

.col-5 {
  flex: 0 0 calc(41.6667% - 1rem);
  max-width: calc(41.6667% - 1rem);
}

.col-5:first-child,
.col-5:last-child {
  flex: 0 0 calc(41.6667% - .5rem);
  max-width: calc(41.6667% - .5rem);
}

.col-6 {
  flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
}

.col-6:first-child,
.col-6:last-child {
  flex: 0 0 calc(50% - .5rem);
  max-width: calc(50% - .5rem);
}

.col-7 {
  flex: 0 0 calc(58.3334% - 1rem);
  max-width: calc(58.3334% - 1rem);
}

.col-7:first-child,
.col-7:last-child {
  flex: 0 0 calc(58.3334% - .5rem);
  max-width: calc(58.3334% - .5rem);
}

.col-8 {
  flex: 0 0 calc(66.6667% - 1rem);
  max-width: calc(66.6667% - 1rem);
}

.col-8:first-child,
.col-8:last-child {
  flex: 0 0 calc(66.6667% - .5rem);
  max-width: calc(66.6667% - .5rem);
}

.col-9 {
  flex: 0 0 calc(75% - 1rem);
  max-width: calc(75% - 1rem);
}

.col-9:first-child,
.col-9:last-child {
  flex: 0 0 calc(75% - .5rem);
  max-width: calc(75% - .5rem);
}

.col-10 {
  flex: 0 0 calc(83.3334% - 1rem);
  max-width: calc(83.3334% - 1rem);
}

.col-10:first-child,
.col-10:last-child {
  flex: 0 0 calc(83.3334% - .5rem);
  max-width: calc(83.3334% - .5rem);
}

.col-11 {
  flex: 0 0 calc(91.6667% - 1rem);
  max-width: calc(91.6667% - 1rem);
}

.col-11:first-child,
.col-11:last-child {
  flex: 0 0 calc(91.6667% - .5rem);
  max-width: calc(91.6667% - .5rem);
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
}

.col-order-1 {
  order: 1;
}

.col-order-2 {
  order: 2;
}

.col-order-3 {
  order: 3;
}

.col-order-4 {
  order: 4;
}

.col-order-5 {
  order: 5;
}

.col-order-6 {
  order: 6;
}

.col-order-7 {
  order: 7;
}

.col-order-8 {
  order: 8;
}

.col-order-9 {
  order: 9;
}

.col-order-10 {
  order: 10;
}

.col-order-11 {
  order: 11;
}

.col-order-12 {
  order: 12;
}

.row-inline-block,
.row-float {
  display: block;
  box-sizing: border-box;
}

.d-float-left {
  display: block !important;
  float: left !important;
}

.d-float-right {
  display: block !important;
  float: right !important;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.d-inline-block {
  display: inline-block !important;
}

.width-percent-10 {
  width: 10%;
}

.width-percent-20 {
  width: 20%;
}

.width-percent-30 {
  width: 30%;
}

.width-percent-40 {
  width: 40%;
}

.width-percent-50 {
  width: 50%;
}

.width-percent-60 {
  width: 60%;
}

.width-percent-70 {
  width: 70%;
}

.width-percent-80 {
  width: 80%;
}

.width-percent-90 {
  width: 90%;
}

.width-percent-100 {
  width: 100%;
}

.d-flex {
  display: flex !important;
}

.flex-basis-10 {
  flex-basis: 10%;
}

.flex-basis-20 {
  flex-basis: 20%;
}

.flex-basis-30 {
  flex-basis: 30%;
}

.flex-basis-40 {
  flex-basis: 40%;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-basis-60 {
  flex-basis: 60%;
}

.flex-basis-70 {
  flex-basis: 70%;
}

.flex-basis-80 {
  flex-basis: 80%;
}

.flex-basis-90 {
  flex-basis: 90%;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}
