.button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  border-width: 1px;
  border-style: solid;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: .25rem;
  cursor: pointer;
}

.button-xsmall {
  font-size: 50%;
}

.button-small {
  font-size: 75%;
}

.button-large {
  font-size: 125%;
}

.button-xlarge {
  font-size: 150%;
}

.button-outline {
  border-width: 1px;
  border-style: solid;
}

.button-primary,
.button-secondary,
.button-success,
.button-danger,
.button-dark,
.button-info {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-warning,
.button-light,
.button-transparent {
  color: #222;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background-color: #321fdb;
}

.button-primary-outline {
  background-color: #fff;
  border-color: #321fdb;
}

.button-secondary {
  background-color: #ced2d8;
  border-color: #ced2d8;
}

.button-secondary-outline {
  background-color: #ffffff;
  border-color: #ced2d8;
}

.button-success {
  background-color: #2eb85c;
}

.button-success-outline {
  background-color: #ffffff;
  border-color: #2eb85c;
}

.button-warning {
  background-color: #f9b115;
}

.button-warning-outline {
  background-color: #ffffff;
  border-color: #f9b115;
}

.button-danger {
  background-color: #e55353;
}

.button-danger-outline {
  background-color: #ffffff;
  border-color: #e55353;
}

.button-info {
  background-color: #3399ff;
}

.button-info-outline {
  background-color: #ffffff;
  border-color: #3399ff;
}

.button-dark {
  background-color: #636f83;
}

.button-dark-outline {
  background-color: #636f83;
  border-color: #fff;
}

.button-light {
  background-color: #ebedef;
}

.button-light-outline {
  background-color: #ebedef;
  border-color: #333333;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  text-shadow: none;
}
