.button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  border-radius: .25rem;
  cursor: pointer;
}

.button-xsmall {
  font-size: 50%;
}

.button-small {
  font-size: 75%;
}

.button-large {
  font-size: 125%;
}

.button-xlarge {
  font-size: 150%;
}

.button-outline {
  border-width: 1px;
  border-style: solid;
}
